name: "Deploy Infrastructure"

on:
  workflow_dispatch:
    inputs:
      stack:
        description: 'Stack to manage'
        required: true
        default: 'vpc'
        type: choice
        options:
          - vpc
          - eks
          - both
      action:
        description: 'Terraform Action'
        required: true
        default: 'apply'
        type: choice
        options:
          - apply
          - destroy

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  TF_VERSION: 1.5.0 

jobs:

  # 1. VPC STACK

  deploy-vpc:
    name: "VPC Stack"
    if: ${{ github.event.inputs.stack == 'vpc' || github.event.inputs.stack == 'both' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Terraform/aws/vpc/dev

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false

      - name: Terraform Apply/Destroy
        run: terraform ${{ github.event.inputs.action }} -auto-approve


  # 2. EKS STACK 

  deploy-eks:
    name: "EKS Stack"
    
    if: ${{ always() && (github.event.inputs.stack == 'eks' || (github.event.inputs.stack == 'both' && needs.deploy-vpc.result == 'success')) }}
    needs: [deploy-vpc] 
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Terraform/aws/eks/dev

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false

      - name: Terraform Apply/Destroy
        run: terraform ${{ github.event.inputs.action }} -auto-approve
